@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
*{
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
	background-image: url('../img/refs/sunflowers.jpg');/*main-bg_3.jpg*/
	background-attachment: fixed;
	background-size: cover;/*см!!!*/
	background-position: top center;
	// cursor: url('../img/cursor.png'), pointer;
}

.fancybox-margin {
	margin-right: 0px;
}

input:focus{
	outline: none;
}

a, a:hover, a:active, a:focus, a:visited {
	text-decoration: none;
}

/* .clearfix {
	content: '';
	display: block;
	clear: both;
} */
.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}
.clearfix:after {
	clear: both;
}


.hidden {
	display: none;
}
.visible {
	display: block!important;
}

.popup {
	display: none;
}
/*
.popup[data-popup="callback"]{
	width: 350px;
	height: 300px;
	padding: 12px;
} */

.popup[data-popup="bye"]{
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	z-index: 999;
}
.popup .bye-form {
	display: block;
	width: 865px;
	height: 460px!important;
	border: 4px solid #8f0209;
	background-color: #f2d602;
	color: #8f0209;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 50px;
	border-radius: 25px;
}
.popup .bye-form .column {
	display: block;
	float: left;
	width: 378px;
	height: 300px;
	margin: 0;
	padding: 0;
	text-align: center;
}
.popup .bye-form .sub {
	display: block;
	float: left;
	width: 100%;
	height: 60px;
	margin: -0px 0 0 0;
}
.popup .bye-form label {
	width: 100%;
	margin: 0px 0 -5px;
	padding: 0;
	font-size: 28px;
}
.popup .bye-form .column label:first-child {
	margin-bottom: -15px;
}
.popup .bye-form input {
	display: inline-block;
	width: 295px;
	height: 40px;
	margin: 0 auto;
	padding: 0 20px;
	margin: 10px auto;
	font-size: 25px;
	border: none;
	border-radius: 25px;
	color: #8f0209;
}
.popup .bye-form input[type="tel"] {
	font-family: 'Lora', sans-serif;
}
.popup .bye-form input[type="text"] {
	color: #8f0209!important;
}
.popup .bye-form input[type="submit"] {
	margin: 11px auto;
	padding: 0;
	width: 295px;
	height: 46px;
	border-radius: 25px;
	font-family: 'Roboto Slab';
	font-size: 32px;
	font-weight: bold;
	background-color: #8f0209;
	color: #f2d602;
}
.popup .bye-form input[type="submit"]:hover {
	cursor: pointer;
	background-color: #f2d602;
	color: white;
}

#mapid {
	height: 500px;
}

header, main, footer, section {
	width: 100vw;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	clear: both;
}
/* section .container,
header .container,
nav .container,
main .container {
	width: 1170px;
	height: auto;
	margin: 0 auto!important;
	position: relative;
	clear: both;
}
header .container::after,
main .container::after,
footer .container::after,
section .container::after,
header .container::before,
main .container::before,
footer .container::before,
section .container::before {
	content: "";
	display: block;
	clear: both;
}
main.container {
	height: calc(100vh-240px);
} */

header {
	/* height: 315px; */
	/* height: 180px; */
	/* outline: 1px dashed black;  */
}
header .container {
	/* outline: 1px solid gray; */
}
header .top {
	display: block;
	float: left;
	width: 100%;    /* boots принимает? */
	height: 180px;
	margin: 0 auto 10px;
	padding: 0;
}
header .top .item {
	display: block;
	float: left;
	width: 380px;
	height: 180px;/*auto*/
	padding: 30px 0 20px;
}
header .top .heading {
	/*  */
}
header .top .heading h1 {
	margin: -8px 0;
	padding: 0 25px;
	text-align: left;
	font-size: 65px;
	font-family: 'Izhitsa'/*, sans-serif */ !important;
	color: #fff4cf;
}
header .top  .heading h1 span {
	color: #f2d602;
}
header .top .logo {
	text-align: center;
}
header .top .logo img {
	/*  */
}
header .top .contacts {
	height: auto;
}
header .top .contacts .tel {
	display: block;
	float: left;
	margin-top: -15px;
	padding: 0;
	height: 105px;
	color: #fff4cf;
	font-family: 'Lora', sans-serif;
}
header .top .contacts .tel a {
	display: block;
	float: right;
	width: 350px;
	height: 45px;
	margin: 0 0 0 0;
	/* padding: 0 025px; */
	font-size: 40px;
	font-weight: bold;
	color: #fff4cf;
}
header .top .contacts .tel a:hover/* ,
header .top .contacts .tel a:active */ {
	color: #f2d602;
	font-weight: bold;

}
header .top .contacts input[data-popup="callback"] {
	display: none;
	/* float: right; */
	margin: 0 0 0 30px;
	padding: 0;
	width: 355px;
	height: 48px;
	border: none;
	border-radius: 25px;
	font-family: 'Roboto Slab';
	font-size: 32px;
	font-weight: bold;
	background-color: #8f0209;
	color: #f2d602;
}
/*main .button {
	display: inline-block;
	width: auto;
	padding: 0 30px;
	line-height: 46px;
	vertical-align: middle;
	text-align: center;
	word-break: normal;
	text-indent: 0;
	float: none;
}
main .slider .button {
	display: inline-block;
	width: 200px;
	margin-top: 10px;
	padding: 13px;
	border: 1px solid #fff;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	background: rgba(220,31,39,.7);
	transition-property: color,border,background;
	transition-duration: 400ms;
}
*/

header .top .contacts input[data-popup="callback"]:hover {
/* 	background-color: #730207;
	color: #FFA500;
	transition-duration: 500ms;
	transition-delay: 000ms;
	transition-property: color, background-color; */
	background-color: #f2d602;
	color: white;
}
header .callbackform {
	display: none;
	z-index: 3;
	position: relative;
	width: 355px;
	height: 280px!important;
	margin: 90px 0 0 27px;
	padding: 5px 15px;
	text-align: center;
	border-radius: 25px;
	border: 4px solid #8f0209;
	background-color: #f2d602;
	color: #8f0209;
	font-family: 'Lora';
	transform: rotateX(90deg);
	transition-duration: 400ms;
	height: 0px;
	-webkit-transition: all 0.2s ease-out 0.05s;
				 -moz-transition: all 0.2s ease-out 0.05s;
				 -o-transition: all 0.2s ease-out 0.05s;
				 transition: all 0.2s ease-out 0.05s;
}
header .callbackform.visible {
	transform: rotateX(0deg);
	height: 280px!important;
}
header .callbackform label {
	width: 100%;
	margin: 0px 0 -5px;
	padding: 0;
	font-size: 28px;
}
header .callbackform label:first-child {
	margin-bottom: -15px;
}
header .callbackform input {
	display: inline-block;
	width: 295px;
	height: 40px;
	margin: 0 auto;
	padding: 0 20px;
	margin: 10px auto;
	font-size: 25px;
	border: none;
	border-radius: 25px;
	color: #8f0209;
}
header .callbackform input[type="tel"] {
	font-family: 'Lora', sans-serif;
}
header .callbackform input[type="text"] {
	color: #8f0209!important;
}
header .callbackform > input[type="submit"] {
	display: inline-block;
	margin: 11px auto!important;
	padding: 0;
	width: 295px;
	height: 46px;
	border-radius: 25px;
	font-family: Roboto Slab;
	font-size: 28px;
	font-weight: bold;
	background-color: #8f0209;
	color: #f2d602;
}
header .callbackform > input[type="submit"]:hover {
	background-color: #f2d602;
	color: white;
}
header .callbackform > input[type="submit"]:hover {
	/*  */
}

/* #menu {
	height: 135px;
	padding-bottom: 30px;
} */
#menu {
	height: 60px;
	/* padding-bottom: 15px; */
}
/* #menu .container {
	border-radius: 25px;
	background-color: #8f0209;
} */
#menu .container {
		border-radius: 20px;
		// background-color: #8f0209;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1171c+1,8e0502+16,8f0209+89,c1171c+100 */
		background: #c1171c; /* Old browsers */
		background: -moz-linear-gradient(top,  #c1171c 1%, #8e0502 16%, #8f0209 89%, #c1171c 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #c1171c 1%,#8e0502 16%,#8f0209 89%,#c1171c 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #c1171c 1%,#8e0502 16%,#8f0209 89%,#c1171c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1171c', endColorstr='#c1171c',GradientType=0 ); /* IE6-9 */

}
/* #menu nav {
	height: 135px;
	font-family: 'Izhitsa' !important;
} */
#menu nav {
	height: 60px;
	font-family: 'Izhitsa' !important;
}
/* #menu nav ul {
	height: 135px;
	padding: 0;
	margin: 0 auto;
} */
#menu nav ul {
	height: 60px;
	padding: 0;
	margin: 0 auto;
}
/* #menu nav ul li.parent {
	height: 135px;
	float: left;
	list-style: none;
	width: 228px;
} */
#menu nav ul li.parent {
	height: 60px;
	float: left;
	list-style: none;
	width: auto;
	/* padding: 5px 26px; */
}
/* #menu nav ul li a {
	display: block;
	float: left;
	width: 100%;
	height: 135px;
/*     line-height: ; */
	/* padding: 45px 15px;
	text-align: center;
	color: #f2d602;
	font-size: 35px; */
/* 	transition-duration: 1000ms;
	transition-delay: 100ms;
	transition-property: color, background-color; */
/*} */
#menu nav ul li a {
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	color: #f2d602;
	font-size: 35px;
	padding: 5px 26px;
}
#menu nav ul li:hover a {
/* 	background-color: rgba(0, 0, 0, 0.2);
	color: orange; */
	// background-color: #f2d602;
	color: #8f0209;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f2e371+47,f2e371+51,ffffff+100&0.53+0,1+5,1+95,0.51+100 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.53) 0%, rgba(254,252,240,1) 5%, rgba(242,227,113,1) 47%, rgba(242,227,113,1) 51%, rgba(254,252,241,1) 95%, rgba(255,255,255,0.51) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.53) 0%,rgba(254,252,240,1) 5%,rgba(242,227,113,1) 47%,rgba(242,227,113,1) 51%,rgba(254,252,241,1) 95%,rgba(255,255,255,0.51) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.53) 0%,rgba(254,252,240,1) 5%,rgba(242,227,113,1) 47%,rgba(242,227,113,1) 51%,rgba(254,252,241,1) 95%,rgba(255,255,255,0.51) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87ffffff', endColorstr='#82ffffff',GradientType=0 ); /* IE6-9 */

}
/* #menu nav ul li:nth-child(2) a {
	padding: 25px 15px;
} */


main {
/*	height: 500px; */
}
main .container {
	width: 1170px;/*см при бутстрапе*/
	// height: 560px;/*см при бутстрапе*/
	margin: 20px auto;/*см при бутстрапе*/
	padding: 0;
	border-radius: 25px;
	// background-color: #FFF3A2;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff3a2+0,efda3b+55,f2e371+96,cec484+100 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff3a2+0,efda3b+55,f2e371+96,cec484+100 */
	background: rgb(255,243,162); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(255,243,162,1) 0%, rgba(239,218,59,1) 55%, rgba(242,227,113,1) 96%, rgba(206,196,132,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(255,243,162,1) 0%,rgba(239,218,59,1) 55%,rgba(242,227,113,1) 96%,rgba(206,196,132,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(255,243,162,1) 0%,rgba(239,218,59,1) 55%,rgba(242,227,113,1) 96%,rgba(206,196,132,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff3a2', endColorstr='#cec484',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
main .scroll-element {
	display: none;
	text-align: center;
}
main .scroll-element.visible {
	display: block;
	margin: 0;
	padding: 30px;
}
main .scroll-element[data-index="0"] .item.left,
main .scroll-element[data-index="2"] .item.left {
	background-image: url('../img/refs/man_2.jpg');
	background-position: center;
	background-size: cover;
	/* background-attachment: fixed; */
}
/* main .scroll-element .scroll-vertical {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 10px;
	height: 500px;
	outline: 1px solid green;
} */
main .scroll-element > .img-block {
	display: inline-block;
	width: 865px;
	height: 485px;
	border-radius: 25px;
}
main .scroll-element > .img-block img {
	max-width: 865px;
	max-height: 485px;
	width: auto;
	height: auto;
	border-radius: 25px;
}
main .scroll-element[data-index='0'] .item.right img,
main .scroll-element[data-index='2'] .item.right img {
	opacity: 0.2;
}
main .page {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	font-weight: bold;
}
main .page p,
main .page ul {
	color: #8f0209;
}
main .gallery {
	display: block;
	float: left;
	width: 100%;/*1080px*/
	height: 500px;
	text-align: center;
}
main .gallery .column {
	display: block;
	float: left;
	width: 600px;
	height: 500px;
}
main .gallery .column.side {
	width: 255px;
}
/* main .gallery .column.side .wrap {
	display: block;
	float: left;
	width: 235px;
	height: 235px;
	margin: 0 0 10px 0;
}
main .gallery .column.side .wrap img {
	width: auto;
	height: auto;
	max-width: 235px;
	max-height: 235px;
} */
main .gallery .column a.fancybox,
main .gallery .column a.various.iframe {
	display: block;
	float: left;
	width: 580px;
	height: 495px;
	margin: 0 20px 25px 0;
	border-radius: 25px;
	overflow: hidden;
	/* border: 2px solid red; */
	border-radius: 25px;
	/* text-align: center; */
}
main .gallery .column.side a.fancybox,
main .gallery .column.side a.various.iframe {
	width: 235px;
	height: 235px;
}
main .gallery .column.side a.various.iframe {
	font-family: Georgia;
	font-size: 22px;
	font-weight: bold;
	background-color: #f2d602;
	color: #8f0209;
	padding: 10px;/*15px*/
}
main .gallery .column a.fancybox:last-child,
main .gallery .column a.various.iframe:last-child {
	margin-bottom: 0;
}
main .gallery .column a.fancybox img,
main .gallery .column a.various.iframe img {
	width: 100%;
	height: auto;
	/* border-radius: 25px; */
}
main .gallery .column a.various.iframe img {
	border-radius: 25px;
	margin-bottom: 10px;
}

main .item {
	display: block;
	float: left;
	// height: 500px;/*
	outline: 1px solid red; */
	border-radius: 25px;
	font-size: 20px;
	color: #8f0209;
}
main .item.left {
	width: 500px;
	height: 500px;
	text-align: center;
	/* padding-top: 10px; */
	/* margin: 15px 15px 15px 0; */
	/* margin: 0 15px 0 0!important; */
}
main .item.left.colored {
	background-color: #f2d602;
	font-size: 30px;
	position: absolute;
	top: 30px;
	z-index: 3;
	margin: 60px;
	width: 380px;
	height: 380px;
}
main .item.left .tel {
	display: block;
	float: left;
	width: 100%;
	height: 500px;
}
main .item.left .tel a {
	display: block;
	/* float: right; */
	/* width: 145px; */
	height: 45px;
	margin: 0 0 0 0;
	/* padding: 0 025px; */
	font-size: 30px;
	font-family: 'Lora';
	color: #8f0209;
}
main .item.left img {
	width: auto;
	height: auto;
	max-width: 490px;
	max-height: 490px;
	border-radius: 25px;
}
main .item.right {
	width: 578px;
	padding: 0 20px;
	margin: 0 0 0 30px;
	overflow-y: auto;
	text-align: left;
	border-radius: 25px;
	font-size: 21px;
	/* outline: 1px solid red; */
}
main .item .bg {
	width: 538px;
	height: 538px;
	position: absolute;
	background: transparent url('../img/svyatoch.png') 0 0 no-repeat;
	background-size: contain;
	background-position: 15px 0;
	opacity: 0.25;
}
/* main .item .contentwrapper {
	display: block;
	float: left;
	width: 538px;
	height: 460px;
	z-index: 3;
} */
main .item.right h3 {
	margin: 0;
	padding: 3px 0 6px 0px;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
}
main .item.right p {
	font-family: 'Lora';
	text-indent: 40px;
	text-align: justify;
	font-size: 21px;
}
main .item.right .uncolored {
	height: 250px;
	text-indent: 30px;
	/* outline: 1px solid gray; */
}
main .item.right .colored {
	display: block;
	float: left;
	width: 540px;
	height: 250px;
	background-color: #f2d602;
	border-radius: 30px;
	/* position: absolute; */
	/* bottom: 30px; */
	/* right: 120px; */
	padding: 20px 30px;
	position: relative;
}
main .scroll-element .btn{
	display: block;
	float: left;
	position: absolute;
	border-radius: 35px;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
}
main .scroll-element .buy.btn {
	display: block;
	/*	float: none;*/
	/* margin: 0 0 0 30px; */
	margin: -75px 0 0 65px;
	padding: 0;
	width: 260px;
	height: 48px;
	border: none;
	border-radius: 25px;
	font-family: 'Roboto Slab';
	font-size: 32px;
	font-weight: bold;
	background-color: #8f0209;
	color: #f2d602;
	z-index: 3;
}
main .scroll-element .btn:hover {
		background-color: #8f0209;
		color: white;
}
main .scroll-element .training.btn {
	display: block;
	float: right;
	/* bottom: 20px; */
	/* right: 20px; */
	width: 410px;
	height: 45px;
	margin: 0 0 0 85px!important;
	padding: 0;
	font-family: Roboto Slab;
	font-size: 28px;
	font-weight: bold;
	background-color: #8f0209;
	color: rgba(242, 214, 2, 1);
}
main .scroll-element .training.btn:hover {
	background-color: #f2d602;
	color: white;
}
.animation {
		-webkit-transition: all 0.2s ease-out 0.05s;
			 -moz-transition: all 0.2s ease-out 0.05s;
			 -o-transition: all 0.2s ease-out 0.05s;
			 transition: all 0.2s ease-out 0.05s;
}

#map {
	height: 500px;
	border-radius: 25px;
}

.fullwidth {
	margin: 0 !important;
	padding: 0 !important;
	width: 1110px !important;
}

.strong-text {
	font-weight: bold;
}
h3, h2 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fff8d1+91,f2e371+98 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,248,209,1) 91%, rgba(242,227,113,1) 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,248,209,1) 91%,rgba(242,227,113,1) 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,248,209,1) 91%,rgba(242,227,113,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2e371',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	border-radius: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 5px;
}
// .showFromHidden {
// 	opacity: 1;
// 		-webkit-transition: all 1s ease-out 1s;
// 	     -moz-transition: all  1s ease-out 1s;
// 	     -o-transition: all  1s ease-out 1s;
// 	     transition: all  1s ease-out 1s;
// }
// .empty {
// 	opacity: 0;
// 	width: 0px;
// }
// .hiddenFromShow {
// 	opacity: 1;
// 		-webkit-transition: opacity 0.2s ease-out 0.05s;
// 	     -moz-transition: opacity 0.2s ease-out 0.05s;
// 	     -o-transition: opacity 0.2s ease-out 0.05s;
// 	     transition: opacity 0.2s ease-out 0.05s;
// }

.bordered {
	border: 5px solid white;
}

.special-button {
		color: #f2d602;
		padding: 10px 20px;
		background: -moz-linear-gradient(
			top,
			#8f0209 0%,
			#8f5003);
		background: -webkit-gradient(
			linear, left top, left bottom,
			from(#8f0209),
			to(#8f5003));
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		border: 1px solid #ebe38a;
		-moz-box-shadow:
			0px 1px 3px rgba(33,1,1,0.5),
			inset 0px 0px 1px rgba(255,255,255,1);
		-webkit-box-shadow:
			0px 1px 3px rgba(33,1,1,0.5),
			inset 0px 0px 1px rgba(255,255,255,1);
		box-shadow:
			0px 1px 3px rgba(33,1,1,0.5),
			inset 0px 0px 1px rgba(255,255,255,1);
		text-shadow:
			0px -1px 0px rgba(74,0,0,0.7),
			0px 1px 0px rgba(61,2,2,0.3);


}


